/* Dashboard Query */ 
@font-face {
    font-family: 'roboto';
    font-family: 'Lato-Light';
    font-family: 'Lato-Bold';
    src: url(../fonts/RobotoSlab-Bold.ttf);
    src: url(../fonts/Lato-Light.ttf);
    src: url(../fonts/Lato-Bold.ttf);
}
html,
body {
    margin: 0;
    height: 100%;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

/* Dashboard Query */ 
 
ul{
    list-style: none;
}
.container{
    padding: 0 !important;
}
.roboto{
    font-family: 'roboto';
}
.lato{
    font-family:'Lato-Light';
}
.lato-bold{
    font-family: 'Lato-Bold';
}

/*____________________________ Dashboard style _______________________________________ */
.navbar-light .navbar_auto li a.nav-link{
    color: #142535;;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.3rem 1rem;
}
.navbar_nav .nav-item a.nav-link{
    color: #142535;
    font-size: 14px; 
    font-weight: 500;
    padding: 0.3rem 1rem;
}
.navbar_nav .nav-item .nav_btn{
    border: 2px solid #142535;
    border-radius: 4px;
}
.navbar_light{
    box-shadow: 0 8px 17px 2px rgb(193 193 193 /14%),
    0 3px 14px 2px rgb(185 185 185 / 12%),
    0 5px 5px -3px rgb(171 171 171 / 20%);
    background-color: #fff;
}
div.form-group{
    margin: 0rem;
}
.navbar{
    padding: 0rem;
}
.navbar-nav .search{
    width: 300px;
    outline: none;
    border: 1px solid rgb(151, 151, 151);
    border-right: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 0.3rem 1rem;
    margin: 0.5rem 0;
    transition: 0.4s;
    background-color: #ffffff;
}
 
 
.navbar-nav .btn-search{
    outline: none;
    border: 1px solid rgb(151, 151, 151);
    border-left: none;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.3rem 1rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
}
.navbar-nav .btn-search img{
     width: 1.2rem;
    
}
/*>>>>>>>> side bar style<<<<<<<<*/
aside.sidebar{
    position: fixed;
    width: 75px;
    background-color: #fff;
    left: 0;
    top: 0;
    height: 100vh;
    box-shadow: 0 8px 17px 2px rgb(193 193 193 /14%),
    0 3px 14px 2px rgb(185 185 185 / 12%);
    text-align: center;
    padding: 1rem 0;
}
.sidebar img{
    width: 40px;
}
.sidebar_icon{
    padding: 0;
    margin: 0;
    margin-top: 4rem;
}
.fa:before{
    font-family: FontAwsome !important;
    color: initial !important;
}
.sidebar_icon li{
    margin: 1rem 0;
    padding: 0.5rem 0; 
    border-left: 2px solid #fff;
}
.sidebar_icon li img{
     width: 4rem;
}
.sidebar_icon li:hover,
.sidebar_icon li:active{
    border-color: #049148;
    color: #049148;
}
.sidebar_icon li img{
    color: #a09e9e;
    width: 1.5rem;
}
.bottom_sidebar_icon{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
}
.bottom_sidebar_icon li span.badge{
    position: absolute;
    background: #f44336;
    color: #fff;
    border-radius: 50%;
    font-size: 50%;
    right: 25px;
    
}
.bottom_sidebar_icon li a img{
    width:  1.5rem;
}
.bottom_sidebar_icon li .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #049148;
}
.bottom_sidebar_icon li{
    margin: 1rem 0;
    padding: 0.5rem 0;
}
.bottom_sidebar_icon li i.fa{
    color: #a09e9e;
    font-size: 24px;
}
/*>>>>>>>> side bar style<<<<<<<<*/

/*>>>>>>>> graph area style<<<<<<<<*/
.graph_area{
    padding: 2rem 0;
}
.user_name h2{
    font-weight: 400;
    color: #1a1a1a;
}
.btn.btn-secondary{
    background-color: #1a1a1a;
    border-radius: 6px;
    text-transform: uppercase;
    height: 50px;
    padding: 12px 12px;
    transition: 0.5s;
    box-shadow: 0 8px 17px 2px rgb(193 193 193 /14%),
    0 3px 14px 2px rgb(185 185 185 / 12%),
    0 5px 5px -3px rgb(171 171 171 / 20%);
}
.btn.btn-secondary:hover{
    background-color: #2c2c2c;
}
.value_cards_sec{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.value_card{
    border-radius: 8px;
    color: #fff;
    background-color: #ddd;
    height: 115px;
    padding: 1.2rem;
    
}
.value_card p{
    color: #fff;
    font-size: 14px;
}
.value_card h3{
    color: #fff;
    font-weight: 700;
}
.card_1{
    height: 107px;
    background: transparent linear-gradient(
        109deg,#55ecb2 0%,#2dd393 100%
    ) 0% 0% no-repeat padding-box;
    box-shadow: 0 16px 20px #ffceb9;
    opacity: 1;
}
.card_2{
    height: 107px;
    background: transparent linear-gradient(
        112deg, #fe7379 0%, #f54ea1 100%
    );
    box-shadow: 0 16px 20px #ffb1d2;
    opacity: 1;
}
.card_3{
    height: 107px;
    background: transparent linear-gradient(
        112deg, #b050d1 0%, #2b26a7 100%
    );
    box-shadow: 0 16px 20px #cfacff;
    opacity: 1;
}
.card_4{
    height: 107px;
    background: transparent linear-gradient(
        112deg, #19e7da 0%, #6078ea 100%
    );
    box-shadow: 0 16px 20px #3eace266;
    opacity: 1;
}
.graph_sec{
    margin-top: 2rem;
}
.graph_sec_2{
    box-shadow: 0 16px 20px #e4e4e4;
    padding: 1.2rem;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 2rem;
    height: 300px;

}
.graph_sec_2 p{
    color: #2b2b2b;
    font-size: 14px;
    margin-bottom: 0.5rem;
}
.graph_sec_2 img{
    width: 100%;
}
.graph_sec_2 img.line_graph{
    width: 90%;
}
.text_copy{
    text-align: center;
    margin-top: 0rem;
}
.text_copy p{
    color: #2b2b2b;
    font-size: 14px;
    font-weight: 500;
}
/*>>>>>>>> graph area style<<<<<<<<*/

/*>>>>>>>> form area style <<<<<<<<*/
.addpro_form{
    margin-top: 2rem;
}
.info{
    margin: 2rem 0;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;

}
.form-addp{
    padding: 1.5rem 1.8rem;
    margin: 2rem 0rem;
    border-radius: 5px;
    box-shadow: 0 16px 20px #e4e4e4;
}
.form-container{
    position: absolute;
    top: 140px;
    left: 500px;
    width: 400px;
    background-color: rgba(92, 92, 92, 0.383);
    border: 1px double rgba(87, 87, 87, 0.644);
    padding: 20px;
    border-radius: 5px;
}
.login-form .label{
    display: block;
    margin: 5px 0;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}
.login-form .login-input{
    font-size: 1.4rem;
    color: black;
    outline: none;
    border: 0.05rem solid rgb(97, 97, 97);
    border-radius: 0.2rem;
    width: 24rem;
    padding: 0.5rem;
    margin: 0.4rem 0;
}
.login-form .login-btn{
    color: rgb(246, 246, 246);
    font-size: 1.4rem;
    margin: 1rem 0;
    padding: 0.3rem 1rem;
    background: darkslategrey;
    border: 0.05rem solid rgb(97, 97, 97);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.4s;
}
.login-form .login-btn:hover{
    background-color: rgb(58, 114, 114);
}
.login-header{
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    color: darkslategrey;
    margin: 5px 0 30px 0;
}
/*>>>>>>>> form area style <<<<<<<<*/
/*>>>>>>>> product table style <<<<<<<<*/
.pro-show{
    padding: 1.5rem 1.2rem;
    margin: 2rem 0rem;
    border-radius: 5px;
    box-shadow: 0 16px 20px #e4e4e4;
}
.table td, .table th {
    padding: 0.75rem;
    vertical-align: center !important;
    border-top: 1px solid #dee2e6;
}
.table-img{
    width: 40px;
    transition: 0.5s;
}
.table-img:hover{
    width: 44px;
}
.pro-show table tbody td{
    vertical-align: center;
}
/*>>>>>>>> product tabel style <<<<<<<<*/

/*____________________________ Dashboard style _______________________________________ */